html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}
/* 默认主题 */
.window_boundingBox {
  border: 1px solid #333;
  -webkit-box-shadow: 0 0 10px #666;
          box-shadow: 0 0 10px #666;
  position: fixed;
  z-index: 999;
  background-color: #fff;
}
.window_boundingBox .window_header {
  padding: 5px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.window_boundingBox .window_body {
  padding: 10px;
}
.window_boundingBox .window_footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
}
.window_boundingBox .window_alertBtn {
  width: 80px;
}
.window_boundingBox .window_closeBtn {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.window_boundingBox .window_confirmBtn {
  width: 80px;
  margin-right: 20px;
}
.window_boundingBox .window_cancelBtn {
  width: 80px;
}
.window_boundingBox .window_promptBtn {
  width: 80px;
  margin-right: 20px;
}
.window_boundingBox .window_promptInputWrapper {
  text-align: center;
}
.window_boundingBox .window_promptInput {
  border: 1px solid #666;
  padding: 2px;
}
.window_mask {
  z-index: 998;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
/* 主题1 */
.window_blue {
  border: 1px solid #0e74e9;
  -webkit-box-shadow: 0 0 10px #0e74e9;
          box-shadow: 0 0 10px #0e74e9;
}
.window_blue .window_header {
  background-color: #0e74e9;
}
.window_blue .window_closeBtn {
  background-color: #0e74e9;
}
